.site-name{
  text-align: center;
  color: #FFF;
  position: relative;
  top: 0.55rem;
}

.header-container{
  background-color: #53A1E1 !important;
}
.menu-icon{
  color: #FFFFFF;
}
.icon.btn{
  padding: 20px !important;
  min-width: 90px !important;
}
.MuiIconButton-edgeStart{
  margin-left: 0px !important;
}
.right-btns{
  position: relative;
  left: 1rem;
  top: 0.85rem;
}
.MuiSvgIcon-root{
  margin-right: 0.5rem !important;
}

.MuiIconButton-colorInherit {
  color: yellow !important;
}

.cart-items-cnt{
  position: absolute;
  width: 15px;
  height: 15px;
  right: 1rem;
  bottom: 2.5rem;
  border-radius: 50%;
  background-color: #e82b2b;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.right-btns .MuiSvgIcon-root{
  cursor: pointer;
}
.MuiInputBase-input{
  color: #FFFFFF !important;
}
.right-btns{
  position: relative;
    left: 0rem;
}

@media screen and (width:360px) {
  .cart-items-cnt{
    right: 0.5rem;
  }
}

@media screen and (width:375px){
  .cart-items-cnt{
    right: 1rem !important;
  }
}

@media screen and (width:411px){
  .cart-items-cnt{
    right: 2.5rem !important;
  }
}
@media screen and (width:414px){
  .cart-items-cnt{
    right: 3rem !important;
  }
}

@media screen and (min-width: 1024px){
  .cart-items-cnt{
    right: 4.5rem !important;
  }
}